<!doctype html>
<head>
    <meta charset="utf-8">
    <title>BW_page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

	<div align="center">
		<h2>Please, select a file to process:</h2>
		<a class="menu_button" href="{{ url_for('upload_form') }}">or back to main page for upload one more file</a>
		<br>
		{% for file in filelist %}
		<br>
		<a class="filelist" href="{{ url_for('process_file', file=file) }}">{{file}}</a>
		{% endfor %}

	</div>

</body>